/*estilo para el cuerpo de la pagina*/
body {
    background-color: #662f5a;
    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/*estilo para el contenedor del formulario*/
.form-container {
    background-color: rgb(3, 0, 0);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*estilo para el emcabezado del contenedor*/
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
/*estilo para las etiquetas utilizadas en el contenedor*/
.form-container label {
    display: block;
    margin-bottom: 10px;
}
/*estilos para los input utilizados en el formulario*/
.form-container input[type="text"],
.form-container input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
/*estilo para cuando se ha dado clic en el boton*/
.form-container input[type="submit"] :hover {
    background-color: #4CAF50;
    
}
